body{
    background-color: #39404B;
    background: cover;
}
a, .link-random:hover {
    text-decoration: none;
    transition-property: color,font-size ;
}
.link-random{
    text-decoration: none;
    color: green;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    font-family: 'Courier New',sans-serif;
    text-align: center;
    margin: 300px auto 0 auto;
}
a:hover{
    text-decoration: none;
}
.container{
    background-color: aquamarine;
    position: relative;
    width: 50%;
    background-color: inherit;
}
.zero {
    font-family: 'Courier New',sans-serif;
    text-align: center;
    position: relative;
    margin: 300px auto 0 auto;
    vertical-align: middle;
}

.one{
    margin: 0;
    padding: 0;
    font-family: 'Courier New',sans-serif;
    position: relative;
}
.article{
    margin: 10px auto;
    padding: 20px auto;
    background-color: gainsboro;
    opacity: 0.9;
    position: relative;
}
li>h4{
    color : darkred;
    line-height: 2;
}
li{
    list-style: none;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    box-shadow: 0 0 5px 5px #dddddd;
    position: relative;
}
li:hover{
    background-color: honeydew;
    box-shadow: 0 0 5px 5px honeydew;
}
#searchbox{
    border: none;
    /*float: left;*/
    position: relative;
    padding-left: 10px;
    margin: 0;
    font-size: 20px;
    background-color: inherit;
    line-height: 40px;
    outline: none;
    color:darkgrey;
    background: none;
    font-family: 'Courier New',sans-serif;
    letter-spacing: 1px;
    cursor: auto;
    display: inline-block;
}

#search{

    font-size:20px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    color:green;
    float:right;
}
/*.first{*/
    /*width: 400px;*/
    /*border:solid 3px green;*/
    /*padding: 0 auto;*/
    /*margin: 30px -200px 30px 200px;*/
    /*!*position: relative;*!*/
    /*z-index: 20;*/
/*}*/
#all-box{
    width: 50%;
    border:solid 3px green;
    padding: 0 auto;
    /*margin: 30px auto;*/

    margin: 30px 200px 0 200px;
    position: relative;
    z-index: 20;
    transition-property: width,margin;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    display: inline-block;
}

#all-box:hover,#all-box:active,#all-box:focus{
    width:100%;
    margin: 30px auto;
    /*margin: 30px auto 30px auto;*/
    /*padding: 0 auto;*/
}
/*#all-box:active{*/
    /*width: 100%;*/
    /*!*margin: 3
    0px 40px 30px -40px;*!*/
    /*padding: 0 auto;*/

/*}*/


#remove{
    font-size:20px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    color:green;
    display: none;
    float:right;
    padding-right: 0px;
}
#line{
    font-size:30px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    color:green;
    font-weight: 700;
    margin-top: -10px;
}
.new{
    font-family: 'Courier New',sans-serif;
    text-align: center;
    position: relative;
    margin: 70px 0px 20px 0px;
    /*position: relative;*/

}

